/* Coded By the CSE170 Class Production Team ,Christian Chan and Kevin */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a, h1, h2, h3, h4, p {
  font-family: "Roboto";
}

/* 
--primaryColor: #006eb6;
    --secondaryColor: #a2daff;

    --grayscaleOne: #faf9f9;
    --grayscaleTwo: #f1eced;
    --grayscaleThree: #e6dfe0;
    --grayscaleFour: #f0f0f0;
    --grayscaleFive: #949494;
    --grayscaleSix: #656565;

    --primaryTextColor: #141414;
    --secondaryTextColor:#141414;
    --inverseTextColor:#ffffff;
    --quoteTextColor:#000000;

    --linkTextColor: #006eb6;
    --linkHoverColor: #1764aa;
     */

body{

    background-color: #2A2A2E;
    max-width: 1920px;
    max-height: 108px;
    margin: 0 auto;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  
nav ul li, footer ul li {
    float: left;
  }
  
nav ul li a, footer ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px 18px;
    text-decoration: none;
    align-items: center;
  }
footer ul li a{
    padding: 40px 18px;
  }
nav ul li a:hover, footer ul li a:hover {
    background-color: darkslategray;
  }

#selector{
  margin: 0 auto;
  grid-row: 1/2;
  grid-column: 1/4;
  border-radius: 30px;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  background-color: black;
  margin-top: 10px;
  

}
#selector div{
  margin: 20px;
}
#selector div a{
  text-decoration: none;
  color: white;
}


#main ,#main-local ,#main-outdoors ,#main-student{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(14, 1fr);
  display: grid;
  width: 100%;
  height: 100%;
  gap: 8px;
  background-color: white;


  }

#local_title{
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
  color: white;

}
#main-academic-title{
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
  color: white;

}


#divgrid1{
  background-color: white;
  grid-column: 1/2;
  grid-row: 3/7;
  text-align: center;

}
#divgrid2{
  background-color: white;
  grid-column: 2/3;
  grid-row: 3/7;
  text-align: center;

}
#divgrid3{
  background-color: white;
  grid-column: 3/4;
  grid-row: 3/7;
  text-align: center;

}
#divgrid4{

  background-color: white;
  grid-column: 1/2;
  grid-row: 7/11;
  text-align: center;

}
#divgrid5{
  grid-column: 2/3;
  grid-row: 7/11;
  background-color: white;
  text-align: center;


}
#divgrid6{
  grid-column: 3/4;
  grid-row: 7/11;
  background-color: white;
  text-align: center;

}
#divgrid7{
  grid-column: 1/2;
  grid-row: 11/15;
  background-color: white;
  text-align: center;

}
#divgrid8{
  grid-column: 2/3;
  grid-row: 11/15;
  background-color: white;
  text-align: center;

}
#divgrid9{
  grid-column: 3/4;
  grid-row: 11/15;
  background-color: white;
  text-align: center;

}

#important{
    grid-row: 1/4;
    grid-column: 1/13;
    background-color: gray;
    margin-top: 50px;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
    
  }
  
#home-img1{
    grid-row: 4/7;
    grid-column: 9/13;
    background-color: lightgray;
    border-radius: 20px;

  }
#academics{
    grid-row: 4/7;
    grid-column: 1/9;
    background-color: gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }
#campus-event{
    grid-row: 7/10;
    grid-column: 4/13;
    background-color: gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }
#home-img2{
    grid-row: 7/10;
    grid-column: 1/4;
    background-color: lightgray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }

