
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a, h1, h2, h3, h4, p {
  font-family: "Roboto";
}

/* 
--primaryColor: #006eb6;
    --secondaryColor: #a2daff;

    --grayscaleOne: #faf9f9;
    --grayscaleTwo: #f1eced;
    --grayscaleThree: #e6dfe0;
    --grayscaleFour: #f0f0f0;
    --grayscaleFive: #949494;
    --grayscaleSix: #656565;

    --primaryTextColor: #141414;
    --secondaryTextColor:#141414;
    --inverseTextColor:#ffffff;
    --quoteTextColor:#000000;

    --linkTextColor: #006eb6;
    --linkHoverColor: #1764aa;
     */

body{

    background-color: #2A2A2E;
    max-width: 1980px;
    margin: 0 auto;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  
nav ul li, footer ul li {
    float: left;
  }
  
nav ul li a, footer ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px 18px;
    text-decoration: none;
    margin-left: 50px;
  }
footer ul li a{
    padding: 13px 18px;
  }
nav ul li a:hover, footer ul li a:hover {
    background-color: darkslategray;
  }

#main {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: white;
    height: 1080px;
    display: grid;
    gap: 32px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;

  }

#important{
    grid-row: 1/4;
    grid-column: 1/13;
    background-color: gray;
    margin-top: 50px;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;



  }
#home-img1{
    grid-row: 4/7;
    grid-column: 9/13;
    background-color: lightgray;
    border-radius: 20px;

  }
#acedemics{
    grid-row: 4/7;
    grid-column: 1/9;
    background-color: gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }
#campus-event{
    grid-row: 7/10;
    grid-column: 4/13;
    background-color: gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }
#home-img2{
    grid-row: 7/10;
    grid-column: 1/4;
    background-color: lightgray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }
#selector{
    background-color: gray;
    grid-row: 10/11;
    grid-column: 5/9;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    

}

#selector ul li{
    float: left;

  }
  
#selector ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;

  }
  #selector ul li a{
    padding: 6px 3px;
  }
    
#selector ul li {
    float: left;
  }
#selector ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  #selector ul li a:hover {
    background-color: black;
  }